.AllProducts > .content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 258px);
  justify-content: space-between;
  margin: 1rem 0;
}

@media (max-width: 740px) {
  .AllProducts > .content {
    justify-content: center;
  }
}
